<div class="container">
  <h4>Message</h4>
  <hr/>
  <div id="chat-messages" #chatElement >
    <li class="list-group-item"
        *ngFor="let msg of messages" >
      <span class="badge bg-danger  text-white">{{msg.of}}</span> : {{msg.body}}
    </li>
  </div>

  <form
    (ngSubmit)="sendTXT()"
    autocomplete="off"
  >
    <input type="text"
           [(ngModel)]="txt"
           name="text"
           class="form-control chat-input"
           placeholder="Insert msg..."
           autofocus
    />

  </form>
</div>
