<div class="row justify-content-center">
  <div class="col-9">
    <form class="p-4" (ngSubmit)="enterUser()">
        <input type="text"
               placeholder="Name User"
               name="name"
               [(ngModel)]="name"
               class="form-control"
               autofocus />

      <button
        [disabled]="name.trim().length === 0"
        class="btn btn-primary mt-3 btn-block"
      >
        Lest Go!
      </button>
    </form>
  </div>
</div>
