<h1>User: <small>{{wsService.user.name}}</small></h1>
<button
  class="btn btn-danger"
  (click)="exitApp()">
Salir
</button>
<hr/>
<div class="row">
  <div class="col-6">
    <app-list-user></app-list-user>
  </div>
  <div class="col-6">
    <app-chat></app-chat>
  </div>
</div>
