<h3>Users</h3>
<hr/>
<ul class="list-group">
  <li class="list-group-item"
    *ngFor="let user of usersActivesObs | async"
  >
    {{user.name}} <span class="badge bg-primary text-white">{{user.livingRoom}}</span>
    <br>
     <span class="badge bg-success text-white">{{user.id}}</span>
  </li>
</ul>

