<footer class="text-right text-white bg-dark">
  <div class="container p-2">
   <p class="p-0 m-0">Serve status:
     <span *ngIf="wsService.socketStatus" class="text-success pl-1">Online</span>
     <span *ngIf="!wsService.socketStatus" class="text-danger pl-1">Offline</span>
   </p>
  </div>
</footer>
